doctype html

html
 head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width,initial-scale=1")
  link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
  link(rel="stylesheet" href="./index.css")
 body
   main LOADING...   
  script(src="./bundle.js")
